<html>
  <title>Edit event</title>
  <body>
    <h1>Edit event details:</h1>
    <form>
      Title: <input type="text" name="title" value=<%= title %>><br/>
      Description: <input type="text" name="description" value=<%= description %>><br/>
      Date: <input type="text" name="date" value=<%= date %>><br/>
      Start time: <input type="text" name="start" value=<%= start %>><br/>
      End time: <input type="text" name="end" value=<%= end %>><br/>
      <br>
      <input type="submit" value="Save">
    </form> 
  </body>
</html>
